.App {
  text-align: center;
}

.App-logo {
  margin: 20px;
  width: auto;
  height: 20vmin;
  pointer-events: none;
  border: 1px solid lightgray;
  border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos personalizados */
h1, h2{
  margin-top: 0;
}
h2{
  margin-bottom: 0;
}
.tweet-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tweet-item{
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 100%;
  margin: 10px;
  padding: 10px;
}
.tweet-item:hover{
  background-color: rgb(40, 40, 40);
  border: 1px solid rgb(100, 100, 100);
}
.tweet-field{
  margin: 0 auto;
}
.id{
  display: flex;
  justify-content: flex-start;
  font-size: 1.25rem;
  margin-left: 5px;
  color:rgb(125, 125, 125);
}
.content{
  margin-top: 10px;
  font-size: 1.5rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(200, 200, 200);
}
.author{
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  margin-top: 10px;
  margin-right: 5px;
  color:rgb(125, 125, 125);
}
.author > a{
  display: inline-block;
  margin: 0 5px;
  font-size: 1.25rem;
  color:rgb(221, 205, 205);
  text-decoration: none;
  font-weight: bold;
}