.App {
  text-align: center;
  background-color: #282c34;
}
h2{
  color:white;
}

.App-logo {
  height: 10vmin;
  margin-left: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos personalizados */
.brand{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.brand h1 {
  font-size: 2rem;
}
.navbar{
  background-color: #282c34;
  padding: 10px 5px;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
ul a {
  color: white;
}
.navbar li{
  margin: 0 5px;
}
main{
  margin-top: 0;
  padding: 20px auto;
  background-color: #282c34;
  min-height: 65vh;
}
main > h2 {
  padding-top: 10px;
  color: lightgray;
  margin-top: 0;
}
.tweet-container{
  border: 1px solid rgb(150, 150, 150);
  width: 50%;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px auto;
}
.tweet-container:hover{
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(100, 100, 100);
}
.tweet-container > p{
  margin: 0 auto;
}
.tweet-title{
  display: flex;
  justify-content: flex-start;
  color:rgb(125, 125, 125);
}
.tweet-content{
  color:rgb(200, 200, 200);
}
.tweet-footer{
  display: flex;
  justify-content: flex-end;
  color:rgb(175, 175, 175);
}

.tweet-link{
  text-decoration: none;
}

/* .layout{
  border: 5px solid red;
}
.outlet{
  border: 5px dashed green;
} */